body, html, .owo, .page-box {
  padding: 0;
  margin: 0;
}

.owo-animation {
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.owo-animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.owo-animation-forward {
  z-index: 99;
}

a {
  color: #333;
}

a:link, a:visited {
  text-decoration: none;
}
img {
  border: none;
}

/* 清除浮动 */
.clear:after {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both;
  zoom: 1;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.title-bar {
  background-image: url('../resource/title-bar.png');
  background-repeat: no-repeat;
  background-size: auto 70%;
  width: 100%;
  position: absolute;
  top: 61vw;
  z-index: 999;
  background-position: right;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  background-color: #de2e36;
}

.title-bar.active {
  position: fixed;
  top: 0;
}

.title-bar ul {
  width: 88vw;
  height: 50px;
  white-space: nowrap;
  overflow: scroll;
  position: relative;
}

.title-bar li {
  display: inline-block;
  line-height: 50px;
  color: white;
  margin: 0 10px;
  cursor: pointer;
}

.title-bar li:hover {
  font-weight: bold;
}

.title-bar a {
  color: white;
}

.title-bar a:hover {
  color: white;
}

.title-bar .main-title {
  font-size: 36px;
  height: 100px;
  line-height: 100px;
  color: #bc1b21;
  font-weight: bold;
  font-family: "Microsoft YaHei";
  text-align: center;
}

.title-bar .main-title a {
  color: #bc1b21;
}

.title-bar .main-box .left {
  width: 490px;
  height: 330px;
  float: left;
  margin-top: 21px;
  margin-right: 30px;
}

.title-bar .main-box .right {
  width: 480px;
  height: 330px;
  float: left;
}

.title-bar .main-box .right li {
  border-bottom: 2px dotted #a4a4a4;
  height: 85px;
  padding: 15px 0;
  overflow: hidden;
  color: #222;
}

.title-bar .main-box .right li h2 {
  font-size: 22px;
  line-height: 35px;
  margin-bottom: 3px;
  font-family: "Microsoft YaHei";
}

.title-bar .main-box .right li p {
  font-size: 14px;
  line-height: 23px;
}
.swiper-box {
  height: 60vw;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.swiper-box img {
  width: 100%;
  height: 100%;
}

.swiper-box .swiper-wrapper .text {
  position: absolute;
  bottom: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  line-height: 30px;
  padding: 0 10px;
  width: 100%;
  font-size: 14px;
}

.swiper-box .swiper-container {
  width: 90%;
  margin: 0 auto;
  height: 60vw;
  overflow: hidden;
  position: relative;
}

.swiper-box .pagination.swiper-pagination-bullets {
  position: absolute;
  bottom: 0;
  right: 5%;
  height: 5px;
  width: 90%;
  background-color: black;
  z-index: 9;
}

.swiper-box .pagination .swiper-pagination-bullet {
  height: 5px;
  display: block;
  background-color: black;
  position: relative;
  cursor: pointer;
  float: left;
  border-radius: 0;
  margin: 0;
  padding: 0;
}

.swiper-box .pagination .swiper-pagination-bullet-active {
  background-color: #064cc0;
}

.swiper-box a {
  text-decoration: none;
}

.swiper-box .swiper-slide {
  position: relative;
}

.swiper-box .previou {
  position: absolute;
  width: 5vw;
  height: auto;
  left: 0vw;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
  display: none;
}
.swiper-container-3 {
  width: 100%;
  height: 100%;
}

.swiper-box .next {
  position: absolute;
  width: 5vw;
  height: auto;
  right: 0vw;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
  display: none;
}

.swiper-box .index {
  position: absolute;
  bottom: 9px;
  right: 7vw;
  color: white;
  font-size: 18px;
  line-height: 20px;
  z-index: 9;
}
.agenda-box {
  width: 90vw;
  margin: 0 auto;
  padding-bottom: 20px;
  padding-top: 10px;
}

.agenda-box .agenda {
  height: 66px;
  width: calc(50% - 22px);
  color: #222;
  padding: 0 10px;
  border: 1px solid #404040;
  font-weight: bold;
  position: relative;
  background-color: #efefef;
  border-right: none;
  margin-top: 10px;
}

.agenda-box .agenda span {
  font-size: 19px;
  line-height: 66px;
}

.agenda-box .agenda p {
  line-height: 20px;
  font-size: 12px;
  margin: 13px 0;
}

.agenda-box .agenda img {
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 6vw;
}

.agenda-box .fl:nth-child(2) {
  border-right: 1px solid #404040;
}

.agenda-box .fr:nth-child(3) {
  border-right: 1px solid #404040;
}
.calendar-box {
  width: 90vw;
  margin: 0 auto;
  background-size: 100% auto;
  height: 58vw;
  background-repeat: no-repeat;
  position: relative;
  background-image: url('../resource/calendar.png');
}

.calendar-box .data-list {
  height: 8vw;
  position: absolute;
  width: 94%;
  top: 11vw;
  margin: 0 3%;
}

.calendar-box li {
  float: left;
  width: 8vw;
  height: 8vw;
  line-height: 8vw;
  text-align: center;
  color: #ce2a0f;
}

.calendar-box li .text {
  display: none;
}

.calendar-box .text-box {
  position: absolute;
  top: 21vw;
  margin: 2vw;
  height: 31vw;
}

.calendar-box .active {
  background-color: #cf2b0e;
  border-radius: 4vw;
  color: white;
}

.calendar-box .no-text {
  color: #dba2a4;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}
.rolling-news {
  width: 100vw;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 32vw;
  overflow: hidden;
  margin-top: 25px;
  position: relative;
  background-image: url('../resource/rolling-news.jpg');
}

.rolling-news .title-mini {
  width: 28px;
  font-size: 16px;
  color: white;
  font-family: "Microsoft YaHei";
  line-height: 18px;
  text-align: center;
  position: absolute;
  bottom: 0;
  top: 0;
  height: 72px;
  margin: auto;
  left: 15px;
}

.rolling-news .demob {
  position: absolute;
  width: 80%;
  color: white;
  left: 15%;
  height: 30vw;
  top: 1vw;
  overflow: hidden;
  line-height: 10vw;
  font-size: 18px;
}

.rolling-news li {
  height: 10vw;
  line-height: 10vw;
  overflow: hidden;
}

.rolling-news li a {
  color: white;
}
.plate-title-bar {
  height: 17vw;
  background-repeat: no-repeat;
  background-image: url('../resource/title.png');
  background-position: center right;
  background-size: 100% auto;
  width: 90vw;
  margin: 0 auto;
  position: relative;
}

.plate-title-bar h2 {
  display: flex;
  height: 17vw;
  line-height: 17vw;
}

.plate-title-bar p {
  font-size: 12px;
  position: absolute;
  bottom: 3vw;
  right: 0;
  color: #888888;
  font-style: italic;
}

.plate-title-bar strong {
  color: #494949;
}
.video-box .right .swiper-container-3 {
  display: none;
}

.video-box {
  width: 90vw;
  height: 50vw;
  margin: 0 auto;
  position: relative;
}
.video-box video, .video-box embed {
  width: 100%;
  height: 100%;
}

.video-box .left {
  width: 100%;
  height: 100%;
}

.video-box .down {
  position: absolute;
  width: 5vw;
  height: auto;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
  background-image: url("../resource/left.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 5vw;
}

.video-box .right {
  width: 100vw;
  height: 100%;
  left: -5vw;
  position: absolute;
  z-index: 9;
}

.video-box .up {
  position: absolute;
  width: 5vw;
  height: auto;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
  background-image: url("../resource/right.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 5vw;
}

.control-bar {
  width: 100vw;
  height: 100%;
  position: absolute;
  z-index: -1;
}
.unscramble li {
  background-image: url('../resource/list-icon.png');
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 30px;
  height: 30px;
  overflow: hidden;
  line-height: 30px;
  font-size: 14px;
}

.unscramble {
  width: 90vw;
  margin: 0 auto;
}
.focus-box {
  width: 90vw;
  height: 52vw;
  margin: 0 auto;
  position: relative;
}

.focus-box .swiper-container-2,
.focus-box .swiper-wrapper,
.focus-box .swiper-slide-item {
  width: 100%;
  height: 100%;
  position: relative;
}

.focus-box .swiper-container-2 {
  width: 90vw;
  overflow: hidden;
}

.focus-left-button {
  position: absolute;
  left: -5vw;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 5vw;
  height: auto;
  z-index: 9;
}

.focus-right-button {
  position: absolute;
  right: -5vw;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 5vw;
  height: auto;
  z-index: 9;
}
.focus-box .swiper-slide-item {
  position: relative;
}

.focus-box .swiper-container-2 img,
.focus-box .swiper-container-2 a {
  width: 100%;
  height: 100%;
  display: block;
}

.focus-box .text {
  position: absolute;
  bottom: 0;
  height: 25px;
  line-height: 25px;
  padding: 0 2%;
  background-color: #efefef;
  width: 96%;
  color: #212121;
}
.swiper-container-4 {
  width: 90vw;
  height: 49vw;
  overflow: hidden;
  margin: 0 auto;
}

.people-box {
  height: 49vw;
  margin: 0 auto;
  position: relative;
}

.people-box .people-left-button {
  position: absolute;
  left: 0vw;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 5vw;
  height: auto;
  z-index: 9;
  cursor: pointer;
}

.people-box .people-right-button {
  position: absolute;
  right: 0vw;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 5vw;
  height: auto;
  z-index: 9;
}

.people-box .left {
  height: 100%;
  width: 40vw;
  float: left;
}

.people-box .right {
  float: left;
  height: 100%;
  width: 46vw;
  padding-left: 3vw;
}

.people-box .right h2 {
  font-size: 26px;
  line-height: 30px;
}

.people-box .right h3 {
  font-size: 12px;
  line-height: 16px;
  margin: 5px 0;
}

.people-box .right p {
  height: 30vw;
  overflow: auto;
}

.people-box img,
.people-box a {
  width: 100%;
  height: 100%;
  display: block;
}

.main-image {
  width: 100%;
  display: block;
  margin-bottom: 60px;
}

.main-title {
  font-size: 20px;
  line-height: 32px;
  margin-top: 20px;
  color: #bc1b21;
  font-weight: bold;
  font-family: "Microsoft YaHei";
  text-align: center;
}

.main-title a {
  color: #bc1b21;
}

.main-box .right {
  width: 90vw;
  margin: 0 auto;
}

.main-box .right li {
  border-bottom: 2px dotted #a4a4a4;
  padding: 15px 0;
  overflow: hidden;
  color: #222;
}

.main-box .right li h2 {
  font-size: 22px;
  line-height: 35px;
  margin-bottom: 3px;
  font-family: "Microsoft YaHei";
}

.main-box .right li p {
  font-size: 14px;
  line-height: 23px;
}

.button-bar {
  height: 40px;
  line-height: 40px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;
}

.button-bar .fl {
  width: 50%;
  text-align: center;
}

.button-bar .left {
  background-color: #da1330;
  color: white;
}

.button-bar .right {
  background-color: #0077ed;
  color: white;
}

.button-bar .fl a {
  color: white;
  font-size: 18px;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  display: block;
}

.li-box {
  width: 100%;
  height: 100%;
}

.three-image-box {
  height: 20vw;
  overflow: hidden;
  margin: 20px 4vw;
  display: flex;
}

.three-image-box li {
  height: 100%;
  width: 30vw;
  margin: 0 1vw;
}

.three-image-box a, .three-image-box img {
  display: block;
  width: 100%;
  height: 100%;
}